@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

/* ------------------------ fonts and styles -------------*/

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 500%;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
}

p {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

/* ------------------------ Special paddings / margins -------------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.list-inline {
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
}

.row {
    --bs-gutter-x: 0 rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.list-inline {
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
}

.justify-content-center {
    justify-content: center;
}

/* ------------------------ Navbar ------------------*/

.bg-light {
    background-color: rgb(25, 37, 78)!important;
}

.navbar-light .navbar-nav .nav-link {
    color: beige;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffc107;
}

.navbar-menutext {
    text-align: center;
}

.navbar-announcement {
    text-align: right;
    font-size: small;
    font-weight: 600;
    padding-top: 15px;
    font-family: 'Bebas Neue', cursive;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #ffc107;
}

/* ---------------------------------------- Homepage --------*/ 

.welcome-header {
    color: rgb(0, 0, 0);
    background-color: #ffb150d6;
    padding-top: 100px;
    text-align: center;
}


/* ---------------------------------------- Carousel 
.carousel {
    height: 550px;
    margin-bottom: 60px;
  }

.carousel-caption {
    z-index: 10;
  }
  
.carousel .item {
    object-fit: fill;
    height: 550px;
    background-color: #777;
  }

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

--------*/

/* ---------------------------------------- Middle links section------*/

.card-body-joinus {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: center;
    background-color: beige;
}

.card-joinus {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.btn-joinus {
    color: #19254e;
    background-color: #ffc107;
    border-color:  #ffc107;
    width: 50%;
}

.card-body-members {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: center;
    background-color: #ffc107;
}

.card-members {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.btn-members {
    color: #ffc107;
    background-color: #19254e;
    border-color:  #19254e;
    width: 50%;
}


/* ----------------------------------------Contact form section-------*/

.contactform-bottom {
    height: 300px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(119, 117, 117);
    color: white;
    text-align: center;
}


/* ----------------------------------------Footer */

footer {
    background-color: #19254e;
    color: #fafafa;
    max-height: 100px;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: 0rem;
}

.social-links li a i {
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color:#f7ba00;    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.footer-logo {
    display: block;
    text-align: center;
    margin: auto;
}
