@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300;400;600;700&display=swap');


/* ------------------------ fonts and styles -------------*/

body {
    font-family: 'Signika Negative', sans-serif;
    color: #19254e;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: #19254e;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

@media screen and (max-width: 900px) {
    h2 {
        font-size: 40px;
    }
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

h4 {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
}

h5 {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.homepage-header {
    font-size: 90px;
}

@media screen and (max-width: 1200px) {
    .homepage-header {
        font-size: 60px;
    }
}

@media screen and (max-width: 990px) {
    .homepage-header {
        font-size: 40px;
    }
}

.pages-header {
    font-size: 90px;
}

@media screen and (max-width: 990px) {
    .pages-header {
        font-size: 70px;
        padding: 10px;
    }
}

/* ------------------------ Special paddings / margins -------------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.list-inline {
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
}

.end-section-icon {
    padding: 10px;
}

/* ------------------------ colours ------------------*/

.body-links {
    color: #dea700;
} 

/* ------------------------ navbar ------------------*/

.navbar-container {
    width: 100%;
    height: 70px;
    background-color: #ffc107;
}

.bg-light {
    background-color: rgb(25, 37, 78) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #f7ebc7;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ffc107;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #f7ebc7;
}

.navbar {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-open {
    justify-content: center;
}


#navbar-logo {
    padding-top: 15px;
    padding-left: 15px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffc107;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    margin: 15px;
}

/* ------------------------------- Homepage -----------------------------------*/

/* ------------Alert message --------------*/

.alert-warning {
    color: #ffc107;
    background-color: #566877;
    border-color: #566877;
}

.alert {
    position: relative;
    width: 100%;
    padding: 1rem;
    border: 1px solid transparent;
    margin-bottom: 0rem;
    border-radius: 0rem;
}

.alert .inner,
.alert .close {
    color: #ffc107;
}

.alert .close {
    float: right;
    cursor: pointer;
    background-color: #ffc10700;
    color: #ffc107;
    border: none;
}

.alert-signup-link {
    color: #fff;
}

.alert-signup-link:hover {
    color: #a57c00;
}

/* ------------/. Alert message --------------*/

/* ---- helcome/header container ---------*/

.container-welcome {
    background-color: #ffc107;
    padding: 0;
    position: relative;
}

.container-welcome p {
    color: #19254e;
}

/* ---- /.helcome/header container -------*/

/* ---- motivation section -------*/

.motivation-section {
    height: 200px;
    vertical-align: middle;
    padding-top: 70px;
    background: #8e9292;
    position: relative;
}

.quotes-header h5 {
    font-size: 50px;
    color: white;
    font-family: 'Signika Negative';
}

/* ------- /.motivation section ---------*/

/*--------------Club Ethos------------*/

.club-ethos-section {
    background-color: #fdfdfd;
    height: fit-content;
    padding: 30px;
    color: #19254e;
}

/*--------------/./Club Ethos------------*/
/*-----------Upcoming events----------*/

.events-section {
    background-color: #ffda6c;
    height: fit-content;
    padding: 30px;
    color: #19254e;
    text-align: justify;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #19254e;
    vertical-align: top;
    border-color: #19254e;
}

/*-----------/.Upcoming events----------*/

/*---- Image section ----*/



/*----Useful links ----*/

.useful-links-text {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.useful-link-btn-row {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 1rem 1rem;
    font-size: 1.25rem;
    border-radius: .5rem;
}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn:hover {
    color: #19254e;
}

/*----Racing and Training Kit----*/

.kit-header {
    text-align: center;
    padding: 30px;
}

.kit-section {
    height: 100%;
    background-color: #fdfdfd;
}

.kit-card {
    padding-bottom: 30px;
}

/*--------------/. racing and training kit ---------------*/

/*------------------------------------ All Pages Header ----------------------------*/

.page-header-container {
    height: 300px;
}

.page-header-section {
    height: 100px;
    background-color: #ffc107;
}

/* -----------------------------------Join Us Page Sections ---------------------------------*/
/*---------------About us------------*/

.information-sections-style {
    background-color: #fafafa;
    height: fit-content;
    padding: 30px 30px 0px 30px;
    color: #19254e;
}

.ltr-sections-style {
    background-color: #fafafa;
    height: fit-content;
    padding: 30px;
    color: #19254e;
}

.ltr-body-text {
    text-align: justify;
    padding: 30px;
}

/*------------membership-----------*/

.membership-section {
    background-color: #e1e1e1;
    height: fit-content;
    padding: 30px;
    color: #19254e;
}

.membershipimage-container {
    height: fit-content;
    border: .25rem solid;
    color: #ffc107;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #19254e;
    vertical-align: top;
    border-color: #19254e;
}

.table-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

/*-------------------Squad section--------------------*/

.squads-section {
    height: 100%;
    position: relative;
    background-color: #e1e1e1;
    height: fit-content;
    color: #19254e;
    padding: 30px;
}

.squads-header-row {
    padding-bottom: 20px;
}

.squad-header-text-left {
    padding: 30px 30px 10px 30px;
    font-size: 2rem;
    text-align: left;
}

.squad-header-text-right {
    padding: 30px 30px 10px 30px;
    font-size: 2rem;
    text-align: right;
}

.squad-text {
    padding: 0px 30px 30px 30px;
    text-align: justify;
}


/*-------------------/.Squad section--------------------*/

/*-------------------Parallax--------------------*/

/*------------- Code assistance from here :
(https://www.w3schools.com/howto/howto_css_parallax.asp)

Code assistance from here -------*/

.parallax {
    background-image: url("/RiversideRowingClub/assets/images/own/rowingmhug.jpeg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------/.Parallax--------------------*/
/*----------------------facilities--------------------*/

.club-facilities-header {
    text-align: center;
    padding: 30px;
}

.facilities-section {
    height: 100%;
    background-color: #487caf;
    position: relative;
    padding-bottom: 40px;
    color: #f3f3f3;
}

.facilities-icon {
    font-size: xx-large;
    color: #19254e;
    padding: 10px 10px 0px 10px;
}

.facilities-text {
    padding: 10px 10px 0px 10px;
}

/*--------------coaches---------------*/

.meet-coaches-header {
    text-align: center;
    padding: 30px;
}

.coach-headers {
    text-align: center;
    font-weight: 700;
}

.coaches-section {
    height: 100%;
    background-color: #fdfdfd;
    position: relative;
}

.coaches-card {
    padding-bottom: 30px;
}

/*--------------/.coaches---------------*/

/* ----------------------------------------Contact form section-----------------*/

.contact-form-section {
    height: 700px;
    position: relative;
    color: white;
}

.contact-form-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.form-group {
    padding-top: 10px;
}

.form-overlay {
    padding: 50px;
    top: 20%;
    transform: translate(-0%, -120%);
    background-color: rgba(247, 235, 199, 0.349);
    height: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #19254e;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ffc107;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #19254e;
    background-color: #ffc107;
    border-color: #ffc107;
    font-weight: 600;
}

.btn-primary:hover {
    color: #ffc107;
    background-color: #19254e;
    border-color: #19254e;
}

.form-button {
    padding-top: 20px;
}

/* ----------------------------------------Footer --------------------*/

footer {
    background-color: #19254e;
    color: #fafafa;
    max-height: 100px;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: 0rem;
    position: sticky;
}

.footer-row {
    height: fit-content;
}

.social-links li a i {
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #f7ba00;
}

.social-links li a i:hover {
    color: #f3f3f3;
}

.footer-logo {
    display: block;
    text-align: center;
    margin: auto;
}


/* ----------------------------------------Media Queries ---------*/

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}